.App {
  text-align: center;
}



.jumbotron {
  align-items: center;
  display: flex;
  background-image: url(./images/back.png);
  background-size: cover;
  background-color: rgb(12, 3, 3);
  height: 500px;
  color: rgb(252, 247, 247);
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*these are classes that I added for the application with react*/
.add {
  
  border-bottom: 1px solid #e7e7e7;
  background-color: #f7f7f7;
}

.budget__income,
.budget__expenses {
    padding: 12px;
    text-transform: uppercase;
}

.budget__income {
    margin-bottom: 10px;
    background-color: #28B9B5;
}

.budget__expense {
    background-color: #FF5049;
}